h1 {
    color: pink;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-size: 48px;
    border-style: dotted;
    border-width: 5px;
    border-color: #73729e;
    text-align: center;
}

#header {
    background-color: #f1f1f1;
    padding: 30px;
    text-align: center;
    font-size: 35px;
}

/* Container for flexboxes */
.row {
    display: -webkit-flex;
    display: flex;
}

#first-para {
    color: #73729e;
    background-color: #f1f1f1;
    font-family: 'Oswald', sans-serif;
    text-align: center
}

.image-style {

    border: 1px solid yellowgreen;
    margin: 0;
    padding: 0;
    width: fit-content;
}

h2 {
    color: pink;
    text-align: center;
    font-family: 'Oswald', sans-serif;
}

.login-style {
    text-align: center;
    border: 5px solid rgb(240, 149, 164);
    margin: auto;
    padding: 0.3%;
    width: 45%;
    color: #73729e;
   
    font-family: 'Oswald', sans-serif;
}

#desc { 
    background-color: #FFE4E1;
    font-family: 'Oswald', sans-serif;
    padding: 1rem;
    border-radius: 0.5rem;
    color: #555;
    font-size: 1rem;
    line-height: 1.4;


  }

  #checklist-items {
    margin: 0;
  padding: 5px 10px;
  border-bottom: 1px solid #ddd;
  font-size: 16px;
  color: #555;
}

  
  

